* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to top right,#2d388a, #00aeef)
}

body, .quote-input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

/*
.colorBlock {
    width: 70px;
    height: 70px;
  }
  #color1 {
    position: absolute;
    background-image: linear-gradient(#4a7ba6, #4a7ba6);
    border: 2px solid #E7DFC6;
    border-radius: 2rem;
    margin-left: 75rem;
    margin-bottom: 15rem;
  }
  #color2 {
    position: absolute;
    background-image: linear-gradient(to top right,#2d388a, #00aeef);
    border: 2px solid #E7DFC6;
    border-radius: 2rem;
    margin-left: 75rem;
    margin-bottom: 5rem;
    
  }
  #color3 {
    position: absolute;
    background-image: linear-gradient(to top right, #184e68, #57ca85);
    border: 2px solid #E7DFC6;
    border-radius: 2rem;
    margin-left: 75rem;
    margin-top: 5rem;
  }
  #color4 {
    position: absolute;
    background-image: linear-gradient(to top right, #622774, #C53364);
    border: 2px solid #E7DFC6;
    border-radius: 2rem;
    margin-left: 75rem;
    margin-top: 15rem;
  }
*/
.container {
    position: relative;
    background-color: #E7DFC6;
    padding: 1rem;
    border-radius: 1rem;
    width: 700px;
    max-width: 90%;
}

.title {
    position: absolute;
    top: 1rem;
    font-size: 1.5rem;
    color: #E7DFC6;
    
}

.timer {
    position: absolute;
    top: 8rem;
    font-size: 3rem;
    color: #E7DFC6;
    font-weight: bold;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem - 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    background-color: transparent;
    border: 2px solid rgb(188, 181, 161);
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
}

.quote-input:focus {
    border-color: black;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

.wpm {
    position: absolute;
    bottom: 12.5rem;
    font-size: 1.5rem;
    color: #E7DFC6;

}

.label {
    position: absolute;
    bottom: 10.5rem;
    font-size: 1.5rem;
    color: #E7DFC6;
}

.best {
    position: absolute;
    bottom: 6.5rem;
    font-size: 1.5rem;
    color: #E7DFC6;
}

.bestlabel {
    position: absolute;
    bottom: 4.5rem;
    font-size: 1.5rem;
    color: #E7DFC6;
}

.skip {
    position: absolute;
    margin-top: 30px;
    margin-left: -5px;
    font-size: 1rem;
    color: #E7DFC6;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #E7DFC6;
    border-radius: 0.5rem;

}

.skip .tiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #E7DFC6;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 103%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .skip .tiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
  }
  
  .skip:hover .tiptext {
    visibility: visible;
    opacity: 1;
  }

.colors {
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    color: #E7DFC6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #E7DFC6;
    border-radius: 0.5rem;
}
 /* The actual popup */
.colors .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .colors .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .colors .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }